page-login {
    .logo{
        width: 50%;
        margin: 25% 25% 0% 25%;
    }
    .title{
        color: #635e5e;
        font-size: 15px;
        margin-top: 15px;
        font-weight: 500;
    }
    .login_form{
        text-align: center;
        .login{
            margin-top:35px;   
            border-radius: 3px;
            width: 220px;
        }
    }
    .checkbox_input{
        color: #635e5e;
        margin-top: 5px;
        .checkbox_col{
            text-align: right;
        }   
        .checkbox-ios .checkbox-icon{          
          border-radius: 20%;        
          width: 15px;
          height: 15px;
        }      
        span{
          padding-left: 5px;              
          font-size: 14px;
        }
        ion-col {
            &[width-38] {
                flex: 0 0 38%;
                max-width: 38%;
            }
        }
      }
    @media screen and (min-width:768px) and (max-width:1024px) {
        .title{
            color: #635e5e;
            font-size: 19px;
            margin-top: 30px;    
        }
        .login_form{
            text-align: center;
            .login{
                margin-top:35px;                 
                width: 280px;
            }
        }
        .logo{
            width: 40%;
            margin: 25% 30% 0% 30%;
        }
        .checkbox_input{
            margin-top:10px;    
            ion-col {
                &[width-38] {
                    flex: 0 0 45%;
                    max-width: 45%;
                }
            }
        }
    }
}
