page-list {
    .menubar{
        background: url('../assets/bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;    
    }
    .list-ios > .item-block{
        color: #fb6293;
    }
}
