<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="phonegap-plugin-barcodescanner"
    version="6.0.0">

    <name>BarcodeScanner</name>
    <description>You can use the BarcodeScanner plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
    <license>MIT</license>

    <repo>https://github.com/phonegap/phonegap-plugin-barcodescanner</repo>
    <issue>https://github.com/phonegap/phonegap-plugin-barcodescanner/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="js/barcodescanner.js" name="BarcodeScanner">
        <clobbers target="cordova.plugins.barcodeScanner" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner" />
            </feature>
        </config-file>

        <resource-file src="src/ios/scannerOverlay.xib" />
        <resource-file src="src/ios/CDVBarcodeScanner.bundle" />
        <resource-file src="src/ios/QBViewController.xib" />
        <resource-file src="src/ios/chat.png" />
        <resource-file src="src/ios/contacts.png" />
        <resource-file src="src/ios/end_call.png" />
        <resource-file src="src/ios/flip.png" />
        <resource-file src="src/ios/keyboard.png" />
        <resource-file src="src/ios/mic_mute.png" />
        <resource-file src="src/ios/mic.png" />
        <resource-file src="src/ios/video.png" />
        <resource-file src="src/ios/volumn.png" />

        <header-file src="src/ios/QBCore.h" />
        <header-file src="src/ios/QBProfile.h"/>
        <header-file src="src/ios/QBViewController.h" />
        <header-file src="src/ios/QBAVCallPermissions.h"/>
        <header-file src="src/ios/CDVBarcodeScanner.h"/>

        <source-file src="src/ios/QBCore.m" />
        <source-file src="src/ios/QBProfile.m"/>
        <source-file src="src/ios/QBViewController.m" />
        <source-file src="src/ios/QBAVCallPermissions.m"/>
        <source-file src="src/ios/CDVBarcodeScanner.mm" compiler-flags="-fno-objc-arc" />

        <framework src="libiconv.dylib" />
        <framework src="AVFoundation.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreImage.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="src/ios/Quickblox.framework" custom="true"/>
        <framework src="src/ios/QuickbloxWebRTC.framework" custom="true"/>
        <framework src="src/ios/DynamsoftBarcodeReader.framework" custom="true"/>
    </platform>




</plugin>
